/*.titulo {
    font-size: x-large;
    margin-right: 50px;
    border: rgb(216, 10, 10)
}

.container {
    border: 16px solid rgb(0, 0, 0);
    width: 60%;
    border-radius: 10px;
    padding: 110px;
    margin-top: 5%;
}

#imgUser {
    border-radius: rgb(10, 215, 241);
    width: 250px;
}*/
.titulo {
    font-family: 'Dancing Script', cursive;
    /*font-family: "Brush Script MT", cursive;*/
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center
}

.container_login {
    border: 2px solid #8b1226;
    width: 30%;
    border-radius: 20px;
    padding: 30px;
    margin-top: 5%;
}

#imgUser {
    border-radius: 50%;
    border: 5px solid #5e41c5;
    width: 119px;
}

body {
    background: #5d9cd8;
}

.centered {
    margin: 0 auto !important;
    float: none !important;
}

.banner {
    border: 5px solid #770ca8;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    background: #1668889d;
}

.menu {
    border: 1px solid #0b81e2;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #2f6ee2;
}